<p-dialog
  [modal]="true"
  [(visible)]="visible"
  styleClass="w-25rem border-none p-4"
>
  <ng-template #headless>
    @if(resources$ | async; as resources){
    <form [formGroup]="cardForm" (ngSubmit)="save()">
      <div class="grid nested-grid">
        <div class="col-12 text-primary text-2xl font-bold text-center">
          {{ isEditMode() ? "Edit inventory card" : "Add inventory card" }}
        </div>
        <div class="col-12">
          <p-inputnumber
          formControlName="quantity"
            placeholder="quantity"
            styleClass="border-bottom-1 surface-border"
            [min]="1"
          />
        </div>
        <div class="col-12">
          <p-inputnumber
            formControlName="unitCost"
            inputId="minmaxfraction"
            mode="decimal"
            [minFractionDigits]="2"
            placeholder="unit cost"
            styleClass="border-bottom-1 surface-border"
            [min]="0"
          />
        </div>
        <div class="col-12">
          <div class="grid">
            <p-select
              class="col-12"
              [options]="resources"
              formControlName="concept"
              placeholder="Select method"
              optionLabel="name"
            />
          </div>
        </div>
        <div class="col-12">
          <div class="grid">
            <p-button
              label="Cancel"
              severity="secondary"
              (click)="close()"
              class="col-6"
              styleClass="border-round w-full"
            />
            <p-button
              label="Save"
              type="submit"
              [disabled]="!cardForm.valid"
              styleClass="border-round w-full"
              class="col-6"
            />
          </div>
        </div>
      </div>
    </form>
    }
  </ng-template>
</p-dialog>
